$fondoBody: cornsilk;
$fondoHeader: #43d4c8;
$colorH1: rgb(42, 44, 165);
$fondoContenedoresBlog:#17ac62;
//$fondoFooter:#E5D549;
$colorTituloPaginas:#CF0000;
$fondoHover:#E1E5EA;
$fondoCarousel:#7dd443;
$redes: (       
        ig:#8293a0,
        twit: #55acee,
        face:  #3a5795,
        mail: #C25E30
); 
